* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  background-color: #121212;
  color: #fff;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
header {
  margin-top: 50px;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid; */
}
header input {
  border-radius: 20px;
  padding: 10px;
}
header input::placeholder {
  color: rgba(81, 91, 93, 0.604);
}
header input:focus {
  /* border-color: blue; */
  border: 2px solid rgba(45, 5, 224, 0.8);
  outline: 1px solid blue;
}
header button {
  display: inline-block;
  width: 4em;
  text-align: center;
  padding: 10px;
  border-radius: 20%;
  background-color: green;
}
main {
  width: 70%;
  min-height: 70vh;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  margin-bottom: 100px;
  gap: 20px;
}
main h3 {
  text-align: center;
}
.card {
  width: 90%;
  margin: 20px;
  padding: 20px;
  /* border: 1px solid; */
  border-radius: 10px;
  position: relative;
}
.card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card ul li {
  padding: 10px;
  border: 1px solid;
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  flex: 1;
  overflow: auto;
  min-width: 0;
  /* text-overflow: clip; */
}
.card ul li .tdStatus {
  width: 20px;
  height: 18px;
}
.tdStatus:checked {
  accent-color: green;
}
/* .tdStatus {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 50%;
        cursor: pointer;
      } */
/* this is for custom checkbox design . */

.tdStatus:checked {
  background-color: green;
}
.done {
  text-decoration: line-through;
  opacity: 0.6;
}
.todo-text {
  flex: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}

main img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* margin: 10px; */
}
